
body{
    color: #40514e;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
hr{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
h1{
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2{
    font-size: 2.5rem;
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;

}
p{
    line-height: 2;
}
.Upper {
    padding-top: 100px;
    background-color: #eaf6f6;
}
.middle-container{
    margin: 100px 0px;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0px 20px;
}
.bottom-cloud{
    position: absolute;
    left: 400px;
    top: 200px;
    height: 150px;
    width: 200px;
}
.top-cloud{
    position: absolute;
    top: 20px;
    right: 400px;
    height: 150px;
    width: 200px;
}
.mountain{
    height: 400px;
}
.images{
    height: 300px;
}
.images-skills1{
    margin-right: 30px;
    width: 30%;
    float: left;
}
.images-skills2{
    margin-left: 30px;
    width: 25%;
    float: right;
}
.footer-link{
    color: #11999E;
}
#designer{
    font-weight: normal;
}
.skill-row{
    margin:100px auto 100px auto;
    width: 50%;
    text-align: left;

}
.intro{
    width: 30%;
    margin: auto;
}
.contact-message{
    width: 40%;
    margin:40px auto 60px;
}
.btn {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 14px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 15px;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 14px;
    text-decoration: none;
 }
 a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
 }
 a:hover{
    color: #eaf6f6;
 }
.copyright{
    color:#eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0px;
 }